#alternancia{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 15px;
	width: 270px;
	font-size: 14px;
	font-family: Arial black;
}
.casa{
	width: 75px;
	height: 75px;
	border: 2px solid #000;
	float: left;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
}
img{
	width: 75px;
	height: 75px;
}
.tabuleiro{
	width: 250px;
	margin: auto;
}
body{
	background-image: url(backgroundBody.jpg);
	background-size: cover;
}

button{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
}